.action button {
  margin-top: 60px;
  margin-bottom: 120px;
  background-color: #ccd2f0;
  font-family: "KoPubWorld Dotum Light";
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  color: black;
  min-width: 85px;
  min-height: 40px;
  border-radius: 30px;
  border: 1.5px solid black;
}

.action img {
  position: relative;
  top: 3px;
  left: 2px;
  height: 22px;
}
