.action button {
  margin-top: 40px;
  margin-bottom: 120px;
  background-color: #ccd2f0;
  font-family: "Iropke Batang";
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  color: black;
  min-width: 85px;
  min-height: 40px;
  border-radius: 30px;
  border: 1.5px solid black;
}

.action .icon-arrow img {
  position: relative;
  top: 2px;
  left: 2px;
  height: 22px;
}
