@font-face {
  font-family: "KoPubWorld Dotum Light";
  src: local("KoPubWorld\ Dotum\ Light"),
    url("../assets/fonts/KoPubWorld\ Dotum\ Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chosunilbo Myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
