@font-face {
  font-family: "KoPubWorld Dotum Light";
  src: local("KoPubWorld\ Dotum\ Light"),
    url("../assets/fonts/KoPubWorld\ Dotum\ Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
