.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .description {
  display: flex;
  margin-top: 100px;
  margin-bottom: 40px;
  height: 100px;
  max-width: 342px;
  flex-direction: row;
}

.description img {
  height: 100%;
  margin-left: 140px;
}

span {
  font-weight: bold;
}

.mlti-wrapper {
  display: flex;
  align-items: center;
}

.mlti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55px;
  width: 120px;
  text-align: center;
  background-color: #ccd2f0;
  border-radius: 10px;
}

.mlti::before {
  border-top: 15px solid #ccd2f0;
  border-left: 12px solid transparent;
  width: 0px;
  content: "";
  position: relative;
  top: 3px;
  left: -10px;
}

.mlti .short-name {
  margin-top: -15px;
  font-size: 20px;
}

.mlti .full-name {
  font-size: 9px;
}

.home .title {
  font-size: 50px;
  font-weight: bold;
}

.home .title::after {
  display: block;
  content: "";
  height: 8px;
  background-color: #ecedf6;
  transform: skew(-30deg);
}

.home .sub-title {
  margin-top: 10px;
  font-size: 12px;
}

.home button {
  margin-top: 100px;
  background-color: #ccd2f0;
  font-size: 28px;
  font-weight: bold;
  color: black;
  min-width: 170px;
  min-height: 60px;
  border-radius: 40px;
  border: 1.5px solid black;
}

@media (hover: hover) and (pointer: fine) {
  .home button:hover {
    color: #fff;
  }
}
