.progress-wrapper {
  margin: 0 auto;
  width: 90%;
}

.progress-wrapper .percentage {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 7px;
}

.progress-bar-border {
  border: 1px solid #3a4ca8;
  height: 7px;
  transform: skew(-30deg);
}

.progress-bar {
  background-color: #3a4ca8;
  height: 100%;
}
