.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  font-size: 17px;
}

.line {
  display: block;
  content: "";
  height: 8px;
  width: 80%;
  margin-top: 10px;
  background-color: #ecedf6;
  transform: skew(-30deg);
}

.statement {
  margin-bottom: 20px;
  text-align: center;
}
