.result .header {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 288px;
  margin: 40px auto 80px;
}

.result .header .result-type {
  display: flex;
  justify-content: center;
  height: 120px;
}

.result .header .result-type-img {
  height: 100%;
}

.result .header .tag {
  font-size: 28px;
  white-space: pre-line;
  margin-bottom: -7px;
}

.result .header .name {
  font-size: 38px;
  font-weight: bold;
  white-space: pre-line;
  margin-bottom: 10px;
}

.result .header .summary {
  font-weight: bold;
  white-space: pre-line;
}
