.score-wrapper {
  width: 100%;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  margin-bottom: 25px;
  font-family: "Chosunilbo Myungjo";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0em;
}

.score .percentage-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.percentage-row .percentage {
  margin-right: -30px;
  color: white;
  font-weight: 100;
  z-index: 3;
}

.percentage-row .another:not(.score-graph):not(.type) {
  margin-right: 0px;
  margin-left: -30px;
  color: black;
  z-index: 3;
}

.percentage-row .graph {
  display: flex;
}

.graph .score-graph {
  background-color: #3a4ca8;
  height: 18px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 3px 0px 0px 3px;
}

.graph .another {
  background-color: #b8e9ff;
  border-left: 0px;
  border-right: 1px solid black;
  border-radius: 0px 3px 3px 0px;
}

.score .percentage-row .type-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 90px;
}

.percentage-row .type-row .type {
  margin-right: 30px;
}

.percentage-row .type-row .type.another {
  margin-right: 0px;
  margin-left: 30px;
}

.percentage-row .type-row .type.english {
  font-size: 10px;
  margin-top: 4px;
}
