.tips {
  display: flex;
  margin: 10px 10px 0;
  justify-content: center;
  text-align: left;
}

.tips li {
  font-family: "Chosunilbo_myungjo";
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .tips {
    flex-direction: column;
  }
}
